.stripe-side
  .main
    %h2 Recent comments
    %h3 &nbsp;
    .block#recentcomments
      %h4 Most recent comments
      .blockbody
        %ul
          - @comments.each_with_index do |comment, index|
            %li
              %a(id="c#{index + 1}" name="c#{index + 1}")>
              %strong #{comment.user.name}:
              = comment.body
              %small (#{time_ago_in_words(comment.posted)} ago)
              %br
              = link_to "Read comment", speech_path(:house => 1, :id => comment.speech.id, :anchor => "c#{comment.id}")
              \|
              = link_to "All by this user", user_path(:u => comment.user.id), :title => "See more information about this user"
    / end .block
  / end .main
  .sidebar
    &nbsp;
  / end .sidebar
  .break
