.stripe-side
  .main
    %p#warning The Houses of Parliament are in recess from 18 Sep until 18 Oct 2009.
    #intro.block
      %h4 At OpenAustralia.org you can:
      .blockbody
        %ol
          %li
            %form{ :action => "/mp/", :method => "get" }
              %p<
                %strong> Find out more about your Representative
                %br
                <label for="pc">Enter your Australian postcode here:</label>&nbsp;
                <input class="text" id="pc" maxlength="10" name="pc" size="8" type="text" />&nbsp;&nbsp;
                %input.submit(type="submit" value=" GO ")>
          %li
            %form(action="/search/" method="get")
              %p<
                %strong<
                  %label(for="s") Search:
                <input class="text" id="s" maxlength="100" name="s" size="15" type="text" value="" />&nbsp;&nbsp;<input class="submit" type="submit" value="SEARCH" />
          %li
            %p
              - link_to alert_path do
                %strong Sign up to be emailed when something relevant to you happens in Parliament
          %li
            %p
              %strong Read and comment on:
            %ul#hansard-day
              %li
                %strong
                  The most recent
                  #{link_to("House debates", debate_path(:house => 1))}:
                %ul
                  %li= link_to "Section 2", debate_path(:house => 1, :id => "2009-05-14.1.1")
              %li
                %strong
                  The most recent
                  #{link_to("Senate debates", debate_path(:house => 2))}:
                %ul
                  %li= link_to "Section 3", debate_path(:id => "2009-05-13.1.1", :house => 2)
    / end .block
  / end .main
  .sidebar
    #help.block
      %h4 What's all this about?
      .blockbody
        %p
          - link_to "http://blog.openaustralia.org/join-us/" do
            = image_tag("donate_greenL.png", :alt => "Donate", :border => "0", :hspace => "4", :vspace => "5", :align => "right", :size => "108x43")
          = link_to "OpenAustralia.org", about_path, :title => "link to About Us page"
          is a non-partisan website run by a group of volunteers which aims to
          make it easy for people to keep tabs on their representatives in Parliament.
    / end .block
    .block
      %h4= link_to "Site news", posts_path
      .blockbody
        - @posts.each do |post|
          %h5= link_to post.title, post_path(post.year_param, post.month_param, post.day_param, post.title_param)
          %p
            = truncate(strip_tags(post.content).squish, :length => 250, :break_on_spaces => true)
            = link_to "Read more...", post_path(post.year_param, post.month_param, post.day_param, post.title_param)
        %p= link_to "Site News as RSS", "/news/index.rdf"
        %p= link_to "Archive", posts_archives_path
    / end .block
    #recentcomments.block
      %h4 Most recent comments
      .blockbody
        %ul
          - @comments.each_with_index do |comment, index|
            %li
              %a{ :name => "c#{index + 1}" }>
              %strong #{comment.user.name}:
              = comment.body
              %small (#{time_ago_in_words(comment.posted)} ago)
              %br>
              = link_to "Read comment", speech_path(:house => 1, :id => comment.speech.id, :anchor => "c#{comment.id}")
              \|
              = link_to "All by this user", user_path(:u => comment.user.id), :title => "See more information about this user"
        %p= link_to "See more comments posted recently", recent_comments_path(:anchor => "c#{@comments.size + 1}")
    / end .block
  / end .sidebar
  .break
