.stripe-side
  .main
    %h2 OpenAustralia news
    %h3 &nbsp;
    
    - first = true
    - @posts.each do |post|
      %h3= post.date
      %h4= post.title
      - if first
        - first = false
      - else
        </p>
      = post.content
      <p>Posted at #{post.time} by #{post.user}
      \|
      %a{ :href => post.link } Link to this
  / end .main
  .sidebar
    .block
      %h4
        %a{ :href => "/news/archives/" } News Archives
      .blockbody
        %p
          %a{ :href => "/news/archives/2009/05" } May 2009
          %br
          %a{ :href => "/news/archives/2009/02" } February 2009
          %br
          %a{ :href => "/news/archives/2009/01" } January 2009
          %br
          %a{ :href => "/news/archives/2008/11" } November 2008
          %br
          %a{ :href => "/news/archives/2008/10" } October 2008
          %br
          %a{ :href => "/news/archives/2008/08" } August 2008
          %br
          %a{ :href => "/news/archives/2008/07" } July 2008
          %br
          %a{ :href => "/news/archives/2008/06" } June 2008
          %br
    / end .block
    .block
      %h4 RSS/XML
      .blockbody
        %p
          %a{ :href => "/news/index.rdf" } RSS feed of recent posts
          (
          %a{ :href => "/help/#rss" }> ?
          )
    / end .block
  / end .sidebar
  .break
