.stripe-side
  .main
    %h2 OpenAustralia news
    %h3= @subtitle
    
    - first = true
    - @posts.each do |post|
      %h3= post.timestamp.to_date.to_s(:simple)
      %h4= post.title
      - if first
        - first = false
      - else
        </p>
      = post.content
      <p>Posted at #{post.timestamp.to_time.to_s(:seconds)} by #{post.user}
      \|
      = link_to "Link to this", post_path(:year => post.year_param, :month => post.month_param, :day => post.day_param, :title => post.title_param)
  / end .main
  .sidebar
    = render :partial => "archives"
    = render :partial => "rss"
  / end .sidebar
  .break
