.stripe-side
  .main
    %h2 OpenAustralia news
    %h3 &nbsp;
    
    - first = true
    - @posts.each do |post|
      %h3= post.timestamp.to_date.to_s(:simple)
      %h4= post.title
      - if first
        - first = false
      - else
        </p>
      = post.content
      <p>Posted at #{post.timestamp.to_time.to_s(:seconds)} by #{post.user}
      \|
      %a{ :href => post.link } Link to this
  / end .main
  .sidebar
    .block
      %h4
        %a{ :href => "/news/archives/" } News Archives
      .blockbody
        %p
          - @months.each do |d|
            %a{ :href => "/news/archives/#{d.year}/#{'%02d' % d.month}" }= d.to_s(:month)
            %br
    / end .block
    .block
      %h4 RSS/XML
      .blockbody
        %p
          %a{ :href => "/news/index.rdf" } RSS feed of recent posts
          (
          %a{ :href => "/help/#rss" }> ?
          )
    / end .block
  / end .sidebar
  .break
