.stripe-side
  .main
    %h2 OpenAustralia news
    %h3= @post.title
    = @post.content
    %p
      Posted on #{@post.timestamp.to_date.to_s(:simple)} at #{@post.timestamp.to_time.to_s(:seconds)} by #{@post.user}
      \|
      = link_to "Link to this", post_path(:year => @post.year_param, :month => @post.month_param, :day => @post.day_param, :title => @post.title_param)
  / end .main
  .sidebar
    = render :partial => "archives"
    = render :partial => "rss"
  / end .sidebar
  .break
