.stripe-side
  .main
    %h2 About us
    %h3 &nbsp;
    %p
      For all its faults and foibles, our democracy is a profound gift from previous generations. Yet
      most people don't know the name of their representative, let alone what they do or say in their name.
    %p
      We aim to help bridge this growing democratic disconnect, in the belief that there is little wrong
      with Parliament that a healthy mixture of transparency and public engagement won't fix.
    %p
      Hence this website.
    %h3 Who runs this site?
    %p
      OpenAustralia is a website run by a group of volunteers. We owe a great debt to a UK charity,
      mySociety, which built
      = link_to "theyworkforyou.com", "http://theyworkforyou.com/"
      which this site is based on.
    %p
      The Australian Hansard is <a href="http://www.ag.gov.au/cca">Copyright Commonwealth of Australia</a>,
      and is used with permission. Images of politicians are <a href="http://www.ag.gov.au/cca">Copyright
      Commonwealth of Australia</a> and administered by <a href="mailto:auspic@aph.gov.au">AUSPIC</a>.
    %p
      If you're technically minded, we make all the
      = link_to "OpenAustralia source code", "http://software.openaustralia.org/"
      freely available. Do let us know if you want to help!
    %h3
      %a{ :name => "history" }>
      History
    %p
      Back in 2004 Matthew Landauer and Katherine Szuminska were lucky enough to accidently find themselves
      at the launch of the UK site
      = link_to "TheyWorkForYou.com", "http://theyworkforyou.com"
      at a nerdy techno conference, NotCon 2004. The talk inspired them hugely and they left with a desire
      to make this happen in Australia too. It took a few years, other people came on board to help and here
      you can see the fruits of their labour.
    %p
      The project was kick-started in November 2007 when Matthew, supported by
      <a href="http://www.rsp.com.au">Rising Sun Pictures</a>, was given the oppurtunity to take a week of
      paid charity leave to develop the first, very rough, prototype of OpenAustralia.
    %p
      The project continues to be supported by Andrew Snow from
      = link_to "Octopus Computing", "http://octopus.com.au"
      who kindly provide VPS hosting to us for free.
    %h4 Volunteers on OpenAustralia.org
    %table.people(border="0" cellpadding="3" cellspacing="0")
      %tr
        %td= image_tag("http://www.gravatar.com/avatar/b22adbe107ae92088a105b551354d487?s=32&amp;d=identicon", :size => "32x32", :alt => "Avatar for Tim Ansell")
        %td Tim Ansell
      %tr
        %td= image_tag("http://www.gravatar.com/avatar/039a87be2d3843f64170f5e625252e84?s=32&amp;d=identicon", :size => "32x32", :alt => "Avatar for Nathanael Boehm")
        %td Nathanael Boehm
      %tr
        %td= image_tag("http://www.gravatar.com/avatar/9f24adfa971912d72f72c1396ef63351?s=32&amp;d=identicon", :size => "32x32", :alt => "Avatar for Lachie Cox")
        %td Lachie Cox
      %tr
        %td= image_tag("http://www.gravatar.com/avatar/b30d37e67e4c4584a71d977763651513?s=32&amp;d=identicon", :size => "32x32", :alt => "Avatar for Henare Degan")
        %td Henare Degan
      %tr
        %td= image_tag("http://www.gravatar.com/avatar/011c7cbc5af9c3c81b12b9c173a9db32?s=32&amp;d=identicon", :size => "32x32", :alt => "Avatar for Ray Haleblian")
        %td Ray Haleblian
      %tr
        %td= image_tag("http://www.gravatar.com/avatar/a1ed877d79337034f8e1bb46f2dad8e3?s=32&amp;d=identicon", :size => "32x32", :alt => "Avatar for Daniel Kinsman")
        %td Daniel Kinsman
      %tr
        %td= image_tag("http://www.gravatar.com/avatar/5a600494d91ea4223e7256989155f687?s=32&amp;d=identicon", :size => "32x32", :alt => "Avatar for Matthew Landauer")
        %td Matthew Landauer
      %tr
        %td= image_tag("http://www.gravatar.com/avatar/4dde9fa837cdd695790518e140efbf7d?s=32&amp;d=identicon", :size => "32x32", :alt => "Avatar for Rob Manson")
        %td Rob Manson
      %tr
        %td= image_tag("http://www.gravatar.com/avatar/d25d7166e80639478ef1811788b8e61e?s=32&amp;d=identicon", :size => "32x32", :alt => "Avatar for Bruno Mattarollo")
        %td Bruno Mattarollo
      %tr
        %td= image_tag("http://www.gravatar.com/avatar/0a6ceb73d181645bcaff2c21e8fe0e85?s=32&amp;d=identicon", :size => "32x32", :alt => "Avatar for Wade Millican")
        %td Wade Millican
      %tr
        %td= image_tag("http://www.gravatar.com/avatar/6a5ba0842a531163425d66839569a68?s=32&amp;d=identicon", :size => "32x32", :alt => "Avatar for Matthew Panetta")
        %td Matthew Panetta
      %tr
        %td= image_tag("http://www.gravatar.com/avatar/b6d632e6f84a8b522199a91d75b7eb39?s=32&amp;d=identicon", :size => "32x32", :alt => "Avatar for Sarah Stokely")
        %td Sarah Stokely
      %tr
        %td= image_tag("http://www.gravatar.com/avatar/87bb46366f13106c2deebf655af73b38?s=32&amp;d=identicon", :size => "32x32", :alt => "Avatar for Katherine Szuminska")
        %td Katherine Szuminska
    %p
      %em
        They did all this in their spare time, because they thought it was worth doing. And if it's worth
        doing, you might as well try to do it well.
    %h4 Volunteers on TheyWorkForYou.com
    %ul
      %li Richard Allan
      %li Martin Belam
      %li James Crabtree
      %li James Cronin
      %li Stephen Dunn
      %li Yoz Grahame
      %li Phil Gyford
      %li David Heath
      %li Francis Irving
      %li Ben Laurie
      %li Tom Loosemore
      %li Stefan Magdalinski
      %li Dorian McFarland
      %li Anno Mitchell
      %li Danny O'Brien
      %li Sam Smith
      %li Matthew Somerville
      %li Tom Steinberg
      %li Stuart Tily
      %li Julian Todd
      %li Denise Wilton
  / end .main
  .sidebar
    &nbsp;
  / end .sidebar
  .break
