- member = speech.speaker
- if speech.htime
  %div{ :class => "stripe-time-#{cycle("2", "1")}" }
    %div.main
      %p= speech.htime.to_s(:time_12)
    / end .main
    %div.sidebar &nbsp;
    / end .sidebar
    %div.break
  / end .stripe-*
%div{:class => "stripe-#{cycle("2", "1")}", :id => speech.anchor}
  .main
    %a{ :name => speech.anchor }
    %p.speaker
      - link_to representative_path(:m => member.id), :title => "See more information about #{member.name}" do
        = image_tag("mps/#{member.person_id}.jpg", :class => "portrait", :alt => "Photo of #{member.name}")
        %strong>= member.name
      %small
        - if member.current_minister_offices.empty?
          (#{member.constituency}, #{member.party})
        - else
          -# Display only the first of the ministerial positions. I don't know if this is "correct".
          (#{member.constituency}, #{member.party}, #{member.current_minister_offices[0].position})
        = add_this("Share this", "http://dev.openaustralia.org/debate/?id=#{speech.id}")
        |
        - unless single_speech
          = link_to "Link to this", speech_path(:id => speech.id), :class => "permalink", :title => "Copy this URL to link directly to this piece of text"
          |
        = link_to "Hansard source", speech.source_url, :title => "The source of this piece of text"
      = speech.text_object.display_body
      - if single_speech
        %p
          %small
            %strong
              = link_to "See this speech in context", debate_path(:id => @speech.subsection.id, :anchor => @speech.anchor), :class => "permalink", :title => "See this speech within the entire debate"
  / end .main
  .sidebar
    - unless single_speech
      %p.comment-teaser
        - if speech.no_comments > 0
          - first_comment = speech.comments.first(:order => "posted")
          <em>#{first_comment.user.name}</em>:
          = first_comment.body
          - if speech.no_comments > 1
            = link_to "Read #{speech.no_comments - 1} more comment", speech_path(:id => speech.id, :anchor => "c#{first_comment.id}"), :title => "See any comments posted about this"
          %br
          %br
        - link_to add_comment_path(:ret => "/debate/?id=#{speech.id}"), :title => "Comment on this" do
          %strong Add your comment
  / end .sidebar
  .break
/ end .stripe-*
