- member = speech.speaker
- if speech.htime
  %div{ :class => "stripe-time-#{cycle("2", "1")}" }
    %div.main
      %p= speech.htime.to_s(:time_12)
    / end .main
    %div.sidebar &nbsp;
    / end .sidebar
    %div.break
  / end .stripe-*
%div{:class => "stripe-#{cycle("2", "1")}", :id => speech.anchor}
  .main
    %a{ :name => speech.anchor }
    %p.speaker
      %a{ :href => "/mp/?m=#{member.id}", :title => "See more information about #{member.name}" }
        = image_tag("mps/#{member.person_id}.jpg", :class => "portrait", :alt => "Photo of #{member.name}")
        %strong>= member.name
      %small
        - if member.current_minister_offices.empty?
          (#{member.constituency}, #{member.party})
        - else
          -# Display only the first of the ministerial positions. I don't know if this is "correct".
          (#{member.constituency}, #{member.party}, #{member.current_minister_offices[0].position})
        %a{ :href => "http://www.addthis.com/bookmark.php", :onmouseover => "return addthis_open(this, '', 'http://dev.openaustralia.org/debate/?id=#{speech.id}', '');", :onmouseout => "addthis_close();", :onclick => "return addthis_sendto();" } Share this
        |
        - unless single_speech
          %a.permalink{ :href => "/debate/?id=#{speech.id}", :title => "Copy this URL to link directly to this piece of text" } Link to this
          |
        %a{ :href => speech.source_url, :title => "The source of this piece of text" } Hansard source
      = speech.text_object.display_body
      - if single_speech
        %p
          %small
            %strong
              %a.permalink{ :href => "/debates/?id=#{@speech.subsection.id}##{@speech.anchor}", :title => "See this speech within the entire debate"} See this speech in context
  / end .main
  .sidebar
    - unless single_speech
      %p.comment-teaser
        - if speech.no_comments > 0
          - first_comment = speech.comments.first(:order => "posted")
          <em>#{first_comment.user.name}</em>:
          = first_comment.body
          - if speech.no_comments > 1
            %a(href="/debate/?id=#{speech.id}#c#{first_comment.id}" title="See any comments posted about this") Read #{speech.no_comments - 1} more comment
          %br
          %br
        %a{ :href => "/user/prompt/?ret=%2Fdebate%2F%3Fid%3D#{speech.id}#addcomment", :title => "Comment on this" }
          %strong Add your comment
  / end .sidebar
  .break
/ end .stripe-*
