.stripe-side
  .main
    %h2 House debates
    %h3= @date.to_formatted_s(:simple_with_day)
    %ul#hansard-day
      - Hansard.reps_sections_on_date(@date).each do |section|
        %li
          %a{ :href => "/debates/?id=#{section.id}" }
            %strong= section
          %small (#{pluralize(section.no_speeches, 'speech')})
          %ul
            - Hansard.subsections_in_section(section).each do |subsection|
              %li
                %a{ :href => "/debates/?id=#{subsection.id}" }
                  %strong= subsection
                %small (#{pluralize(subsection.no_speeches, 'speech')})
                %br
                %span.excerpt-debates= Hansard.speeches_in_subsection(subsection).first.just_text
    / end hansard-day
  / end .main
  .sidebar
    %p.nextprev
      %span.up
        %a{ :href => "/debates/?y=#{@date.year}", :title => "" } All of #{@date.year}'s debates
    .block
      %h4 Debates this month
      .blockbody
        = calendar(@date.year, @date.month, @date, @recess, [])
        %p
          %a{ :href => "/debates/?y=#{@date.year}" } See all of #{@date.year}
    / end .block
    #help.block
      %h4 What are Debates?
      .blockbody
        %p
          <strong>Debates</strong> in the House of Representatives are an opportunity for members from
          all parties to <strong>scrutinise</strong> government legislation and
          <strong>raise important local, national or topical issues</strong>.
        %p And sometimes to shout at each other.
        %p
          ~ '<!--For more about debates, click <a href="/help/#debates">here</a>.-->'
    / end .block
  / end .sidebar
  .break
