.stripe-side
  .main
    %h2 House debates
    %h3= @date.to_s(:simple_with_day)
    %ul#hansard-day
      - Hansard.reps_sections_on_date(@date).each do |section|
        %li
          %a{ :href => "/debates/?id=#{section.id}" }
            %strong= section
          %small (#{pluralize(section.no_speeches, 'speech')})
          %ul
            - Hansard.subsections_in_section(section).each do |subsection|
              %li
                %a{ :href => "/debates/?id=#{subsection.id}" }
                  %strong= subsection
                %small (#{pluralize(subsection.no_speeches, 'speech')})
                %br
                %span.excerpt-debates= Hansard.speeches_in_subsection(subsection).first.just_text
    / end hansard-day
  / end .main
  .sidebar
    %p.nextprev
      %span.up
        %a{ :href => "/debates/?y=#{@date.year}", :title => "" } All of #{@date.year}'s debates
      - if @previous_date
        %span.prev
          %a{ :href => "/debates/?d=#{@previous_date}", :title => @previous_date.to_s(:simple) } &laquo; Previous day
      - if @next_date
        %span.next
          %a{ :href => "/debates/?d=#{@next_date}", :title => @next_date.to_s(:simple) } Next day &raquo;
    .block
      %h4 Debates this month
      .blockbody
        = calendar(@date.year, @date.month, @date, @recess, [Date.new(2009,5,13), Date.new(2009,5,14)])
        %p
          %a{ :href => "/debates/?y=#{@date.year}" } See all of #{@date.year}
    / end .block
    = render :partial => "what_are_debates"
  / end .sidebar
  .break
