.stripe-head-1
  .main
    %h2
      House of Representatives and Senate debates
    %h3
      \&nbsp;
    %p
      %strong The Houses of Parliament are in recess from 18 Sep until 18 Oct 2009.
  / end .main
  .sidebar
    \&nbsp;
  / end .sidebar
  .break
/ end .stripe-*
.stripe-side
  .main
    %h3
      Busiest House of Representatives debates from the most recent week
    %dl.big-debates
      %dt
        %a{ :name => "d1" }
        %strong>= link_to "Section 2", debate_path(:house => 1, :id => "2009-05-14.1.2")
      %dd
        %strong= link_to "Subsection 2", debate_path(:house => 1, :id => "2009-05-14.1.2")
        %small (2 speeches, 2 comments)
        %br
        Thursday, 14 May 2009
      %dt
        %a{:name => "d2", :id => "d2" }
        %strong>= link_to "Section 1", debate_path(:house => 1, :id => "2009-05-13.1.2")
      %dd
        %strong= link_to "Subsection 1", debate_path(:house => 1, :id => "2009-05-13.1.2")
        %small (1 speech)
        %br
        Wednesday, 13 May 2009
    %p
      %strong= link_to "See more debates", debate_path(:house => 1, :anchor => "d7")
  / end .main
  .sidebar
    = render :partial => "what_are_house_debates_teaser"
    .block
      %h4
        Recent debates
      .blockbody
        = calendar(2009, 5, Date.today, @recess, [Date.new(2009,5,13), Date.new(2009,5,14)], 1)
        %p= link_to "See all of 2009", debate_path(:house => 1, :y => 2009)
    / end .block
  / end .sidebar
  .break
/ end .stripe-*
.stripe-side
  .main
    %h3
      Busiest Senate debates from the most recent week      
    %dl.big-debates
      %dt
        %a#d1(name="d1")
        %strong>= link_to "Section 3", debate_path(:id => "2009-05-13.1.2", :house => 2)
      %dd
        %strong= link_to "Subsection 3", debate_path(:id => "2009-05-13.1.2", :house => 2)
        %small (1 speech)
        %br
        Wednesday, 13 May 2009
    %p
      %strong= link_to "See more debates", debate_path(:anchor => "d7", :house => 2)
  / end .main
  .sidebar
    #help.block
      %h4= link_to "What are Senate debates?", debate_path(:anchor => "help", :house => 2)
    / end .block
    .block
      %h4
        Recent debates
      .blockbody
        = calendar(2009, 5, Date.today, @recess, [Date.new(2009,5,13)], 2)
        %p= link_to "See all of 2009", debate_path(:y => 2009, :house => 2)
    / end .block
  / end .sidebar
  .break
