.stripe-head-1
  .main
    %h2 House debates
    %h3= @date.to_s(:simple_with_day)
  / end .main
  .sidebar
    = render :partial => "what_are_debates_teaser", :locals => {:house_name => @house_name, :house => @house}
  / end .sidebar
  .break
/ end .stripe-*
.stripe-head-2
  .main
    = add_this_javascript
    %h4= @section
    %h5= @subsection
  / end .main
  .sidebar
    = render :partial => "navigate"
  / end .sidebar
  .break
/ end .stripe-*
= render :partial => "speech", :collection => @speeches, :locals => {:single_speech => false}
.stripe-foot
  .main
    &nbsp;
    %br
    &nbsp;
    %br
    &nbsp;
    %br
    &nbsp;
    %br
    &nbsp;
  / end .main
  .sidebar
    = render :partial => "navigate"
  / end .sidebar
  .break
