.stripe-head-1
  .main
    %h2 Senate debates
    %h3 Wednesday, 13 May 2009
  / end .main
  .sidebar
    #help.block
      %h4= link_to "What are Senate debates?", debate_path(:anchor => "help", :house => 2)
    / end .block
  / end .sidebar
  .break
/ end .stripe-*
.stripe-head-2
  .main
    = add_this_javascript
    %h4 Section 3
    %h5 Subsection 3
  / end .main
  .sidebar
    = render :partial => "senate_navigate"
  / end .sidebar
  .break
/ end .stripe-*
.stripe-time-2
  .main
    %p 3:24 am
  / end .main
  .sidebar
    &nbsp;
  / end .sidebar
  .break
/ end .stripe-*
.stripe-1(id="g2.1")
  .main
    %a{ :name => "g2.1" }
    %p.speaker
      - link_to senator_path(:m => 100001), :title => "See more information about Eric Abetz" do
        = image_tag("mps/10003.jpg", :alt => "Photo of Eric Abetz", :class => "portrait")
        %strong> Eric Abetz
      %small
        (Liberal Party, Deputy Leader of the Opposition in the Senate)
        = add_this("Share this", 'http://dev.openaustralia.org/senate/?gid=2009-05-13.2.1')
        \|
        = link_to "Link to this", debate_path(:gid => "2009-05-13.2.1", :house => 2), :title => "Copy this URL to link directly to this piece of text", :class => "permalink"
        \|
        = link_to "Hansard source", "http://parlinfo.aph.gov.au/parlInfo/search/display/display.w3p;query=Id:chamber/hansards/2009-05-13/0000", :title => "The source of this piece of text"
      <p>And my name is Eric Abetz. Everybody else was talking, so I felt I had to as well.</p>
  / end .main
  .sidebar
    %p.comment-teaser
      - link_to add_comment_path(:ret => debate_path(:gid => "2009-05-13.2.1", :house => 2)), :title => "Comment on this" do
        %strong Add your comment
  / end .sidebar
  .break
/ end .stripe-*
.stripe-foot
  .main
    &nbsp;
    %br
    &nbsp;
    %br
    &nbsp;
    %br
    &nbsp;
    %br
    &nbsp;
  / end .main
  .sidebar
    = render :partial => "senate_navigate"
  / end .sidebar
  .break
