.stripe-head-1
  .main
    %h2 House debates
    %h3= @speech.hdate.to_s(:simple_with_day)
  / end .main
  .sidebar
    = render :partial => "what_are_debates_teaser", :locals => {:house_name => @house_name, :house => @house}
  / end .sidebar
  .break
/ end .stripe-*
.stripe-head-2
  .main
    = add_this_javascript
    %h4= @speech.section
    %h5= @speech.subsection
  / end .main
  .sidebar
    %p.nextprev
      %span.up= link_to "See the whole debate", debate_path(:house => 1, :id => @speech.subsection.id), :title => @speech.subsection
      - if @previous_speech
        %span.prev= link_to "&laquo; Previous speaker", speech_path(:id => @previous_speech.id), :title => @previous_speech.speaker.name
      - if @next_speech
        %span.next= link_to "Next speaker &raquo;", speech_path(:id => @next_speech.id), :title => @next_speech.speaker.name
  / end .sidebar
  .break
/ end .stripe-*
= render :partial => "speech", :locals => {:speech => @speech, :single_speech => true}
#comments.stripe-side
  .main
    %a{ :name => "comments" }
    %h4 Comments
    - @comments.each do |comment|
      .comment(id="c#{comment.id}")
        %a(id="c#{comment.id}" name="c#{comment.id}")
        %p.credit
          - link_to user_path(:u => comment.user.id), :title => "See information about this user" do
            %strong= comment.user.name
          %br
          %small
            Posted on #{comment.posted.to_date.to_s(:simple_short)}
            = link_to comment.posted.to_time.to_s(:time_12), speech_path(:id => comment.speech.id, :anchor => "c#{comment.id}"), :title => "Link to this comment"
            = surround('(', ')') do
              = link_to "Report this comment", report_path(:id => comment.id, :ret => speech_path(:id => @speech.id, :anchor => "c#{comment.id}")), :title => "Notify moderators that this comment should be deleted"
        %p.comment= comment.body
      / end .comment
    - if @comments.empty?
      .comment
        %p No comments
  / end .main
  .sidebar
    &nbsp;
  / end .sidebar
  .break
/ end .stripe-*
#addcomment.stripe-side
  .main
    %p
      = link_to "Log in", login_path(:ret => speech_path(:id => @speech.id, :anchor => "addcomment"))
      or
      = link_to "join", user_path(:pg => "join", :ret => speech_path(:id => @speech.id, :anchor => "addcomment"))
      to post a public comment.
  / end .main
  .sidebar
    &nbsp;
  / end .sidebar
  .break
