.stripe-head-1
  .main
    %h2 House debates
    %h3= @speech.hdate.to_s(:simple_with_day)
  / end .main
  .sidebar
    #help.block
      %h4
        %a{ :href => "/debates/#help" }> What are House debates?
    / end .block
  / end .sidebar
  .break
/ end .stripe-*
.stripe-head-2
  .main
    / ADDTHIS JAVASCRIPT BEGIN
    %script{ :type => "text/javascript" } var addthis_pub = "foo";
    %script{ :src => "http://s7.addthis.com/js/250/addthis_widget.js", :type => "text/javascript" }
    / ADDTHIS JAVASCRIPT END
    %h4= @speech.section
    %h5= @speech.subsection
  / end .main
  .sidebar
    %p.nextprev
      %span.up
        %a{ :href => "/debates/?id=#{@speech.subsection.id}", :title => @speech.subsection } See the whole debate
      - if @previous_speech
        %span.prev
          %a{ :href => "/debate/?id=#{@previous_speech.id}", :title => @previous_speech.speaker.name} &laquo; Previous speaker
      - if @next_speech
        %span.next
          %a{ :href => "/debate/?id=#{@next_speech.id}", :title => @next_speech.speaker.name} Next speaker &raquo;
  / end .sidebar
  .break
/ end .stripe-*
= render :partial => "speech", :locals => {:speech => @speech, :single_speech => true}
#comments.stripe-side
  .main
    %a{ :name => "comments" }
    %h4 Comments
    - if @speech.id == "2009-05-14.2.1"
      .comment#c2
        %a#c2(name="c2")
        %p.credit
          %a(href="/user/?u=1" title="See information about this user")
            %strong Matthew Landauer
          %br
          %small
            Posted on 10 Sep 2009
            %a(href="/debate/?id=2009-05-14.2.1#c2" title="Link to this comment") 9:00 pm
            (
            %a(href="/report/?id=2&amp;ret=%2Fdebate%2F%3Fid%3D2009-05-14.2.1%23c2" title="Notify moderators that this comment should be deleted")> Report this comment
            )
        %p.comment
          Hello Mr Abbott. How are you?
      / end .comment
    - else
      .comment
        %p No comments
  / end .main
  .sidebar
    &nbsp;
  / end .sidebar
  .break
/ end .stripe-*
#addcomment.stripe-side
  .main
    %p
      %a{ :href => "/user/login/?ret=%2Fdebate%2F%3Fid%3D#{@speech.id}%23addcomment" } Log in
      or
      %a{ :href => "/user/?pg=join&amp;ret=%2Fdebate%2F%3Fid%3D#{@speech.id}%23addcomment" } join
      to post a public comment.
  / end .main
  .sidebar
    &nbsp;
  / end .sidebar
  .break
