.stripe-head-1
  .main
    %h2 House debates
    %h3= @speech.hdate.to_s(:simple_with_day)
  / end .main
  .sidebar
    #help.block
      %h4
        %a{ :href => "/debates/#help" }> What are House debates?
    / end .block
  / end .sidebar
  .break
/ end .stripe-*
.stripe-head-2
  .main
    = add_this_javascript
    %h4= @speech.section
    %h5= @speech.subsection
  / end .main
  .sidebar
    %p.nextprev
      %span.up
        %a{ :href => "/debates/?id=#{@speech.subsection.id}", :title => @speech.subsection } See the whole debate
      - if @previous_speech
        %span.prev
          %a{ :href => "/debate/?id=#{@previous_speech.id}", :title => @previous_speech.speaker.name} &laquo; Previous speaker
      - if @next_speech
        %span.next
          %a{ :href => "/debate/?id=#{@next_speech.id}", :title => @next_speech.speaker.name} Next speaker &raquo;
  / end .sidebar
  .break
/ end .stripe-*
= render :partial => "speech", :locals => {:speech => @speech, :single_speech => true}
#comments.stripe-side
  .main
    %a{ :name => "comments" }
    %h4 Comments
    - @comments.each do |comment|
      .comment(id="c#{comment.id}")
        %a(id="c#{comment.id}" name="c#{comment.id}")
        %p.credit
          %a(href="/user/?u=#{comment.user.id}" title="See information about this user")
            %strong= comment.user.name
          %br
          %small
            Posted on #{comment.posted.to_date.to_s(:simple_short)}
            %a(href="/debate/?id=#{comment.speech.id}#c#{comment.id}" title="Link to this comment")= comment.posted.to_time.to_s(:time_12)
            (
            %a(href="/report/?id=#{comment.id}&amp;ret=#{escape_path(speech_path(:id => @speech.id, :anchor => "c#{comment.id}"))}" title="Notify moderators that this comment should be deleted")> Report this comment
            )
        %p.comment= comment.body
      / end .comment
    - if @comments.empty?
      .comment
        %p No comments
  / end .main
  .sidebar
    &nbsp;
  / end .sidebar
  .break
/ end .stripe-*
#addcomment.stripe-side
  .main
    %p
      %a{ :href => "/user/login/?ret=%2Fdebate%2F%3Fid%3D#{@speech.id}%23addcomment" } Log in
      or
      %a{ :href => "/user/?pg=join&amp;ret=%2Fdebate%2F%3Fid%3D#{@speech.id}%23addcomment" } join
      to post a public comment.
  / end .main
  .sidebar
    &nbsp;
  / end .sidebar
  .break
