.stripe-head-1
  .main
    %h2 House debates
    %h3= @date.to_formatted_s(:simple_with_day)
  / end .main
  .sidebar
    #help.block
      %h4
        %a{ :href => "/debates/#help" } What are House debates?
    / end .block
  / end .sidebar
  .break
/ end .stripe-*
.stripe-head-2
  .main
    / ADDTHIS JAVASCRIPT BEGIN
    %script{ :type => "text/javascript" } var addthis_pub = "foo";
    %script{ :src => "http://s7.addthis.com/js/250/addthis_widget.js", :type => "text/javascript" }
    / ADDTHIS JAVASCRIPT END
    %h4= @speech.section.text_object.body
    %h5= @speech.subsection.text_object.body
  / end .main
  .sidebar
    %p.nextprev
      %span.up
        %a{ :href => "/debates/?id=#{@speech.subsection.id}", :title => @speech.subsection.text_object.body } See the whole debate
  / end .sidebar
  .break
/ end .stripe-*
%div{:class => "stripe-2", :id => @speech.anchor}
  .main
    %a{ :name => @speech.anchor }
    %p.speaker
      %a{ :href => "/mp/?m=#{@member.id}", :title => "See more information about #{@member.name}" }
        %img.portrait{ :src => "/images/mps/#{@member.person_id}.jpg", :alt => "Photo of #{@member.name}" }
        %strong>= @member.name
      %small
        (#{@member.constituency}, #{@member.party}, Shadow Minister for Families, Housing, Community Services and Indigenous Affairs)
        %a{ :href => "http://www.addthis.com/bookmark.php", :onmouseover => "return addthis_open(this, '', 'http://dev.openaustralia.org/debate/?id=#{@speech.id}', '');", :onmouseout => "addthis_close();", :onclick => "return addthis_sendto();" } Share this
        |
        %a{ :href => @speech.source_url, :title => "The source of this piece of text" } Hansard source
      = @speech_text
      %p
        %small
          %strong
            %a.permalink{ :href => "/debates/?id=#{@speech.subsection.id}##{@speech.anchor}", :title => "See this speech within the entire debate" } See this speech in context
  / end .main
  .sidebar
  / end .sidebar
  .break
/ end .stripe-*
#comments.stripe-side
  .main
    %a{ :name => "comments" }
    %h4 Comments
    .comment
      %p No comments
  / end .main
  .sidebar
    &nbsp;
  / end .sidebar
  .break
/ end .stripe-*
#addcomment.stripe-side
  .main
    %p
      %a{ :href => "/user/login/?ret=%2Fdebate%2F%3Fid%3D#{@speech.id}%23addcomment" } Log in
      or
      %a{ :href => "/user/?pg=join&amp;ret=%2Fdebate%2F%3Fid%3D#{@speech.id}%23addcomment" } join
      to post a public comment.
  / end .main
  .sidebar
    &nbsp;
  / end .sidebar
  .break
