.stripe-side
  .main
    %h2 Representatives
    %h3 &nbsp;
    %p
      Find out who
      %a{ :href => "/mp/" } your Representative
      is. All you need is a postcode.
    %h3 All members of the House of Representatives
    %table.people{ :cellspacing => "0", :border => "0", :cellpadding => "4", :width => "90%" }
      %thead
        %th Photo
        %th= "#{link_to "First", representatives_path(:o => "f")} \&amp; last name"
        %th= link_to "Party", representatives_path(:o => "p")
        %th= link_to "Constituency", representatives_path(:o => "c")
        %th Positions
      %tbody
        - @members.each do |m|
          - row_class = cycle("row-1", "row-2")
          %tr
            %td.row
              = image_tag("mps/#{m.person_id}.jpg", :class => "portrait", :alt => "")
            %td{ :class => row_class }
              %a{ :href => "/mp/#{m.name_param}/#{m.constituency_param}" }>= m.name
            %td{ :class => row_class }= m.party
            %td{ :class => row_class }= m.constituency
            %td{ :class => row_class }= nbsp_if_empty(m.current_minister_positions.join("<br>"))
  / end .main
  .sidebar
    = render :partial => "spreadsheet"
    = render :partial => "shared/donate"
  / end .sidebar
  .break
