.main
  %h2= @title
  %h3 &nbsp;
  %p
    Find out who
    %a{ :href => "/mp/" } your Representative
    is. All you need is a postcode.
  %h3 All members of the House of Representatives
  %table.people{ :cellspacing => "0", :border => "0", :cellpadding => "4", :width => "90%" }
    %thead
      %th Photo
      %th= "#{link_to "First", :o => "f", :trailing_slash => true} \&amp; last name"
      %th= link_to "Party", :o => "p", :trailing_slash => true
      %th= link_to "Constituency", :o => "c", :trailing_slash => true
      %th Positions
    %tbody
      - @members.each do |m|
        - row_class = cycle("row-1", "row-2")
        %tr
          %td.row
            %img.portrait{ :src => "/images/mps/#{m.person_id}.jpg", :alt => "" }>
          %td{ :class => row_class }
            %a{ :href => "/mp/#{m.first_name.downcase}_#{m.last_name.downcase}/#{m.constituency.downcase}" }>= m.name
          %td{ :class => row_class }= m.party
          %td{ :class => row_class }= m.constituency
          %td{ :class => row_class }= nbsp_if_empty(m.current_minister_positions.join("<br>"))
/ end .main
.sidebar
  = render :partial => "spreadsheet"
  = render :partial => "shared/donate"
/ end .sidebar
