.stripe-side
  .main
    %h2 All Senators
    %h3 &nbsp;
    %table.people{ :cellspacing => "0", :border => "0", :cellpadding => "4", :width => "90%" }
      %thead
        %th Photo
        %th= "#{link_to_unless_current "First", senators_path(:o => "f")} \&amp; #{link_to_if(@order != "last_name", "Last", senators_path(:o => "l"))} name"
        %th= link_to_unless_current "Party", senators_path(:o => "p")
        %th= link_to_unless_current "State", senators_path(:o => "c")
        %th Positions
      %tbody
        - @members.each do |m|
          - row_class = cycle("row-1", "row-2")
          %tr
            %td.row= image_tag("mps/#{m.person_id}.jpg", :class => "portrait", :alt => "")
            %td{ :class => row_class }= link_to m.name, senator_name_path(:name => m.name_param, :constituency => m.constituency_param)
            %td{ :class => row_class }= m.party
            %td{ :class => row_class }= m.constituency
            %td{ :class => row_class }= nbsp_if_empty(m.current_minister_positions.join('<br>'))
  / end .main
  .sidebar
    = render :partial => "spreadsheet"
    = render :partial => "shared/donate"
  / end .sidebar
  .break
