.main
  %p.printonly
    This data was produced by OpenAustralia from a variety of sources.
  #mp.block
    %h4
      Senator #{@member.name}
    .blockbody
      %img.portrait{ :src => "/images/mpsL/#{@member.person_id}.jpg", :alt => "Photo of #{@member.name}" }
      %ul.hilites
        %li
          %strong
            #{@member.party} Senator for #{@member.constituency}
        %li
          = @member.current_minister_offices.map{|o| "#{o.position} (since #{o.from_date.to_formatted_s(:rfc822)})"}.join('<br>')
        %li
          %strong
            Became a Senator on 22 February 1994
          \&mdash; unknown
        %li
          %a{ :href => "/alert/?only=1&amp;pid=10003" }
            %strong
              Email me whenever #{@member.name} speaks
          (no more than once per day)
      %ul.jumpers
        %li
          %a{ :href => "#hansard" }
            Recent appearances
        %li
          %a{ :href => "#numbers" }
            Numbers
        %li
          %a{ :href => "#register" }
            Register of Interests
  / end .block
  %a{ :name => "hansard" }
  #hansard.block
    %h4
      Most recent appearances in parliament
    .blockbody
      %p
        No data to display.
      %p#moreappear
        %a{ :href => "/search/?pid=10003&amp;pop=1#n4" }
          More of #{@member.name}'s recent appearances
  / end .block
  %a{ :name => "numbers" }
  #numbers.block
    %h4
      Numbers
    .blockbody
      %p
        %em
          Please note that numbers do not measure quality. Also, Senators may do other things
          not currently covered by this site.
        (
        %a{ :href => "/help/#numbers" }> More about this
        )
      %ul
        %li
          %strong 0
          people are tracking whenever this Senator speaks &mdash;
          ~ " "
          %a{ :href => "/alert/?only=1&amp;pid=10003" }> email me whenever #{@member.name} speaks
          \.
  / end .block
  %a{ :name => "register" }
  #register.block
    %h4
      Register of Interests
      %small
        (
        %a{ :href => "/help/#regmem" }> What's this?
        )
    .blockbody
      %a{ :href => "/regmem/scan/register_interests_10003.pdf" } Scan of #{@member.name}'s latest entry (including amendments)
      %img{ :src => "/images/pdficon_small.gif", :alt => "PDF" }>
  / end .block
/ end .main
.sidebar
  #help.block
    %h4
      Did you know this site is run by a group of volunteers?
    .blockbody
      %p{ :style => "padding-bottom: 30px" }
        %a{ :href => "http://blog.openaustralia.org/join-us/" }
          %img{ :src => "/images/donate_greenL.png", :vspace => "5", :border => "0", :height => "43", :hspace => "4", :alt => "Donate", :align => "right", :width => "108" }
        Your donation would enable us to continue to add new features.
  / end .block
  #mpsearch.block
    %h4
      Search this person's speeches
    .blockbody
      .mpsearchbox
        %form{ :action => "/search/", :method => "get" }
          %p
            %input{ :name => "s", :size => "24", :maxlength => "200" }
            %input{ :name => "pid", :type => "hidden", :value => "10003" }
            %input.submit{ :type => "submit", :value => "GO" }
  / end .block
  .block
    %h4 More useful links for this person
    .blockbody
      %ul
  / end block
  .block
    %h4 Other offices held in the past
    .blockbody
      %ul
        %li Manager of Government Business in the Senate (9 Mar 2007 to 3 Dec 2007)
        %li Minister for Fisheries, Forestry and Conservation (27 Jan 2006 to 3 Dec 2007)
        %li Special Minister of State (30 Jan 2001 to 27 Jan 2006)
        %li Parliamentary Secretary to the Minister for Defence (21 Oct 1998 to 30 Jan 2001)
  .block
    %h4
      Journalist?
    .blockbody
      %p
        Please feel free to use the data on this page, but if you do you must cite OpenAustralia.org in the
        body of your articles as the source of any analysis or data you get off this site. If you ignore this,
        we might have to start keeping these sorts of records on you...
/ end .sidebar
