!!!
%html
  %head
    %meta{ :content => "text/html; charset=iso-8859-1", "http-equiv" => "Content-Type" }
    %title #{@title} (OpenAustralia.org)
    %meta{ :name => "description", :content => "Making parliament easy." }
    %meta{ :name => "keywords", :content => "Parliament, government, House of Representatives, Senate, Senator, MP, Member of Parliament, MPs, Australia, Australian, #{@extra_keyword}" }
    %meta{ :name => "verify-v1", :content => "5FBaCDi8kCKdo4s64NEdB5EOJDNc310SwcLLYHmEbgg=" }
    %link{ :href => "mailto:contact@openaustralia.org", :title => "Send feedback", :rel => "author" }
    %link{ :href => "http://dev.openaustralia.org/", :title => "Home", :rel => "home" }
    %link{ :href => "/", :title => "Home", :rel => "start" }
    / skin: default
    %link{ :href => "/style/default/global.css", :rel => "stylesheet", :type => "text/css" }
    %style{ :type => "text/css" }
      ~ "          @import url(/style/default/global_non_ns4.css);"
    %link{ :href => "/style/default/print.css", :rel => "stylesheet", :type => "text/css", :media => "print" }
  %body
    #container
      %a{ :name => "top" }
      #banner
        #title
          %h1
            %a{ :href => "/", :title => "To the front page of the site" }
              %img{ :src => "/images/openaustraliaorgbeta.gif", :height => "32", :alt => "OpenAustralia.org beta", :width => "262" }
        #search
          %form{ :action => "/search/", :method => "get" }
            %p{ :style => "padding-left: 5px" }
              %input{ :name => "s", :size => "15" }
              %input.submit{ :type => "submit", :value => "Search" }
      / end #banner
      #menu
        #topmenu
          %ul#user
            %li
              %a{ :href => "/user/login/?ret=#{escape_path(@controller.request.request_uri)}", :title => "If you've already joined, log in to post comments" }> Log in
            %li
              %a{ :href => "/user/?pg=join&amp;ret=#{escape_path(@controller.request.request_uri)}", :title => "Joining is free and allows you to post comments" }> Join
            ~ "<!--                    <li><a href=\"/getinvolved/?pg=getinvolved\" title=\"Contribute to OpenAustralia.org\">Get involved</a></li> -->"
          %br
        #bottommenu
          %ul
            %li
              %a{ :href => "/", :title => "The front page of the site" }> Home
            %li
              %a{ :href => "/news/", :title => "News about changes to this website" }> News
            %li
              %a{:class => ("on" if @debates_menu_on), :href => "/hansard/", :title => "House of Representatives and Senate debates" }> Debates
            %li
              %a{ :href => "/comments/recent/", :title => "Recently posted comments" }> Recent comments
            %li= link_to_on_if_current "Representatives", {:controller => "member", :action => "representatives", :trailing_slash => true}, {:title => "Your Representative and list of all Members of the House of Representatives"}
            %li= link_to_on_if_current "Senators", {:controller => "member", :action => "senators", :trailing_slash => true}, {:title => "List of all Senators"}
            %li
              %a{ :href => "/help/", :title => "Answers to your questions" }> Help
      / end #menu
      #content
        .stripe-side
          = yield
          .break
        / end .stripe-*
        #footer
          %p
            %a{ :href => "/about/" } About us
            &nbsp;&nbsp;&nbsp;
            %a{ :href => "/contact/" } Contact OpenAustralia.org
            &nbsp;&nbsp;&nbsp;
            %a{ :href => "/help/linktous/" } Link to us
            &nbsp;&nbsp;&nbsp;
            %a{ :href => "/houserules/" } House rules
            &nbsp;&nbsp;&nbsp;
            %a{ :href => "/api/" } API
            \/
            %a{ :href => "http://data.openaustralia.org" } XML
            &nbsp;&nbsp;&nbsp;
            %a{ :href => "http://software.openaustralia.org" } Source code
            &nbsp;&nbsp;&nbsp;
            %a{ :href => "http://blog.openaustralia.org" } Blog
      / end #content
    / end #container
