!!!
%html
  %head
    %meta{ :content => "text/html; charset=iso-8859-1", "http-equiv" => "Content-Type" }
    %title #{@title}
    %meta{ :name => "description", :content => "Making parliament easy." }
    %meta{ :name => "keywords", :content => "Parliament, government, House of Representatives, Senate, Senator, MP, Member of Parliament, MPs, Australia, Australian, #{@extra_keywords}" }
    %meta{ :name => "verify-v1", :content => "5FBaCDi8kCKdo4s64NEdB5EOJDNc310SwcLLYHmEbgg=" }
    %link{ :href => "mailto:contact@openaustralia.org", :title => "Send feedback", :rel => "author" }
    %link{ :href => "http://dev.openaustralia.org/", :title => "Home", :rel => "home" }
    - unless current_page?(:controller => "home")
      %link{ :href => "/", :title => "Home", :rel => "start" }
    / skin: default
    %link{ :href => "/style/default/global.css", :rel => "stylesheet", :type => "text/css" }
    %style{ :type => "text/css" }
      ~ "          @import url(/style/default/global_non_ns4.css);"
    %link{ :href => "/style/default/print.css", :rel => "stylesheet", :type => "text/css", :media => "print" }
    - if @rss
      %link{ :href => "http://dev.openaustralia.org/news/index.rdf", :rel => "alternate", :title => "OpenAustralia RSS", :type => "application/rss+xml"}
  %body
    #container
      %a{ :name => "top" }
      #banner
        #title
          %h1
            = link_to_unless_current(image_tag("openaustraliaorgbeta.gif", :alt => "OpenAustralia.org beta", :size => "262x32"), {:controller => "home"}, {:title => "To the front page of the site"})
        #search
          %form{ :action => "/search/", :method => "get" }
            %p{ :style => "padding-left: 5px" }
              %input{ :name => "s", :size => "15" }
              %input.submit{ :type => "submit", :value => "Search" }
      / end #banner
      #menu
        #topmenu
          %ul#user
            %li= link_to "Log in", login_path(:ret => @controller.request.request_uri), :title => "If you've already joined, log in to post comments"
            %li= link_to "Join", user_path(:pg => "join", :ret => @controller.request.request_uri), :title => "Joining is free and allows you to post comments"
            ~ "<!--                    <li><a href=\"/getinvolved/?pg=getinvolved\" title=\"Contribute to OpenAustralia.org\">Get involved</a></li> -->"
          %br
        #bottommenu
          %ul
            %li= link_to_on_if_current "Home", {:controller => "home"}, {:title => "The front page of the site"}
            %li= link_to "News", posts_path, {:class => ("on" if @news_menu_on), :title => "News about changes to this website"}
            %li= link_to "Debates", hansard_path, :class => ("on" if @debates_menu_on), :title => "House of Representatives and Senate debates"
            %li= link_to_on_if_current "Recent comments", recent_comments_path, :title => "Recently posted comments"
            %li= link_to_on_if_current "Representatives", representatives_path, :title => "Your Representative and list of all Members of the House of Representatives"
            %li= link_to_on_if_current "Senators", senators_path, :title => "List of all Senators"
            %li= link_to_on_if_current "Help", help_path, :title => "Answers to your questions"
      / end #menu
      #content
        = yield
        / end .stripe-*
        #footer
          %p
            = link_to_unless_current "About us", about_path
            &nbsp;&nbsp;&nbsp;
            = link_to_unless_current "Contact OpenAustralia.org", contact_path
            &nbsp;&nbsp;&nbsp;
            = link_to_unless_current "Link to us", link_to_us_path
            &nbsp;&nbsp;&nbsp;
            = link_to_unless_current "House rules", house_rules_path
            &nbsp;&nbsp;&nbsp;
            = link_to "API", api_path
            \/
            = link_to "XML", "http://data.openaustralia.org"
            &nbsp;&nbsp;&nbsp;
            = link_to "Source code", "http://software.openaustralia.org"
            &nbsp;&nbsp;&nbsp;
            = link_to "Blog", "http://blog.openaustralia.org"
      / end #content
    / end #container
